<!--%= render 'partials/searcher' %>-->


<!--<article class="app-cont">-->
<!--&lt;!&ndash;<section class="app-title cf">&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Lines</h1>&ndash;&gt;-->
<!--&lt;!&ndash;%= link_to 'New Line', new_line_path %>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--<section class="app-content">-->
<!--<div class="books-search">-->
<!--&lt;!&ndash;<input type="text" id="lines-search-txt" autofocus>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="results" id="lines-search-results"></div>&ndash;&gt;-->
<!--</div>-->
<!--</section>-->
<!--</article>-->

