<div class="search">
  <i> </i>
  <div class="s-bar">
    <form class="lines-search">
      <input type="text"
             value="Encontre seu buzz"
             id="lines-search-txt"
             autofocus
             onfocus="this.value = '';"
             onblur="if (this.value == '') {this.value = 'Encontre seu buzz';}">
      <input type="submit"  value="Meu Buzz"/>
    </form>
    <div class="results" id="lines-search-results"></div>
  </div>
  <p>Popular searches: <a href="#">Modern PSD template,</a> <a href="#"> Portfolio design </a></p>
</div>

<%= content_for :script do %>
  new app.Lines;
<% end %>
