<div class="mkd-content" style="margin-top: -80px">
  <div class="mkd-content-inner">
    <div class="mkd-full-width">
      <div class="mkd-full-width-inner">
        <div class="mkd-grid-row">
          <div class="mkd-page-content-holder mkd-grid-col-12">
            <div class="vc_row wpb_row vc_row-fluid mkd-content-aligment-center">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="mkd-parallax-holder mkd-vertical-middle-align mkd-disabled-parallax-on-touch" data-parallax-speed="1" style="background-image: url(<%= asset_path 'parallax4.jpg' %>); min-height: 400px; height: 400px; background-position: 50% 0px;">
                      <div class="mkd-parallax-inner">
                        <div class="mkd-elements-holder mkd-one-column mkd-responsive-mode-768">
                          <div class="mkd-eh-item mkd-horizontal-alignment-center" data-item-class="mkd-eh-custom-627699" data-1024-1280="13% 0 9% 0"
                               data-768-1024="16% 0 10% 0">
                            <div class="mkd-eh-item-inner">
                              <div class="mkd-eh-item-content mkd-eh-custom-627699" style="padding: 8% 0 3.5% 0">
                                <h1 class="mkd-custom-font-holder  mkd-cf-9464" style="font-family: Montserrat;font-size: 85px;line-height: 90px;font-weight: 700;letter-spacing: -2px;color: #ffffff"
                                    data-item-class="mkd-cf-9464" data-font-size-680="50px" data-line-height-680="60px">
                                  Encontre seu Buzz!</h1>
                                <div class="mkd-row-grid-section">
                                  <div class="vc_row wpb_row vc_inner vc_row-fluid mkd-content-aligment-center">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8">
                                      <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                          <form method="get" action="http://lister.mikado-themes.com/jobs/">
                                            <div class="mkd-ls-main-search-holder clearfix mkd-light-skin">
                                              <div class="mkd-ls-main-search-holder-part keyword">
                                                <div class="mkd-ls-search-icon">
                                                  <span aria-hidden="true" class="fa fa-search"></span>
                                                </div>
                                                <input type="text" id="lines-search-txt" class="mkd-ls-main-search-keyword ui-autocomplete-input" name="mkd-ls-main-search-keyword" placeholder="Buscar por linha ou itinerário"
                                                       autocomplete="off" autofocus>
                                                <!--<input type="text" id="lines-search-txt" autofocus>-->
                                              </div>
                                            </div>
                                          </form>
                                          <div class="vc_empty_space" style="height: 35px">
                                            <span class="vc_empty_space_inner"></span>
                                          </div>

                                          <a itemprop="url" href="http://www.google.com/" target="_self" style="background-color: rgb(125, 197, 15); border-color: rgb(125, 197, 15); font-size: 14px;"
                                             class="mkd-btn mkd-btn-small mkd-btn-solid mkd-btn-custom-hover-bg mkd-btn-custom-hover-color mkd-btn-icon mkd-btn-icon-hover-animation"
                                             data-hover-color="#fff" data-hover-bg-color="#4097F6" data-icon-bck-color="#5093D3" data-icon-bck-hover-color="#4FA2F9">
                                            <span class="mkd-btn-text">Ou procure por logradouro</span>
                                            <span class="mkd-btn-icon-html" style="background-color: rgb(204, 255, 102);">
                                                <span aria-hidden="true" class="fa fa-road"></span>
                                                <span class="mkd-btn-icon-hover">
                                                  <span aria-hidden="true" class="mkd-icon-font-elegant icon_plus "></span>
                                                </span>
                                              </span>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mkd-eh-item-background"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- close div.content_inner -->
</div>


<!--<article class="app-cont">-->
<!--&lt;!&ndash;<section class="app-title cf">&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Lines</h1>&ndash;&gt;-->
<!--&lt;!&ndash;%= link_to 'New Line', new_line_path %>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--<section class="app-content">-->
<!--<div class="books-search">-->
<!--&lt;!&ndash;<input type="text" id="lines-search-txt" autofocus>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="results" id="lines-search-results"></div>&ndash;&gt;-->
<!--</div>-->
<!--</section>-->
<!--</article>-->

<%= content_for :script do %>
    new app.Lines;
<% end %>
