<div class="search">
  <i> </i>
  <div class="s-bar">
    <form>
      <input type="text" id="lines-search-txt" value="Encontre seu buzz" onfocus="this.value = '';"
             onblur="if (this.value == '') {this.value = 'Encontre seu buzz';}"
             class="mkd-ls-main-search-keyword ui-autocomplete-input">
      <input type="submit"  value="Meu Buzz"/>
    </form>
  </div>
  <p>Popular searches: <a href="#">Modern PSD template,</a> <a href="#"> Portfolio design </a></p>
</div>

<%= content_for :script do %>
    new app.Lines;
<% end %>
