<footer class="mkd-page-footer" style="padding-top:150px">
  <div class="mkd-footer-bottom-holder">
    <div class="mkd-footer-bottom-inner mkd-grid">
      <div class="mkd-grid-row ">
        <div class="mkd-grid-col-6">

          <div class="widget mkd-image-widget ">
            <a itemprop="url" href="http://lister.mikado-themes.com/" target="_self">
              <%= image_tag('logo-footer-new.png', size: '130x39', alt: 'logo') %>
            </a>
          </div>
        </div>
        <div class="mkd-grid-col-6">
          <div id="nav_menu-2" class="widget mkd-footer-bottom-column-2 widget_nav_menu">
            <div class="menu-footer-menu-container">
              <ul id="menu-footer-menu" class="menu">
                <li id="menu-item-1880" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1880">
                  <a href="http://www.google.com/">Home</a>
                </li>
                <li id="menu-item-1881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1881">
                  <a href="http://www.google.com/">Sobre</a>
                </li>
                <li id="menu-item-4305" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4305">
                  <a href="http://www.google.com/">Descubra</a>
                </li>
                <li id="menu-item-4306" class="menu-item menu-item-type-taxonomy menu-item-object-job_listing_region menu-item-4306">
                  <a href="http://www.google.com/">Destinos</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>