<div class="vc_row wpb_row vc_row-fluid vc_custom_1494499800109 vc_row-has-fill" style="padding-top:80px">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="mkd-row-grid-section">
          <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                  <div class="mkd-clients-carousel-holder  mkd-cc-hover-switch-images">
                    <div class="mkd-cc-inner mkd-owl-slider owl-loaded owl-drag" data-number-of-items="5" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="no" data-enable-pagination="no" style="visibility: visible;">


                      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: 0s; width: 4080px;"><div class="owl-item cloned" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-3.png" alt="a">
                        </a>
                      </div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-4.png" alt="a">
                        </a>
                      </div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-5.png" alt="a">
                        </a>
                      </div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-nav disabled">
                        <div class="owl-stage-outer">
                          <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                            <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-2.png" alt="a">
                          </a>
                        </div>
                      </div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-dots disabled"></div></div><div class="owl-item active" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                          <%= image_tag('h1-tech-1.jpg', class:'mkd-cc-image', alt: 'a') %>
                          <!--<img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-1.png" alt="a">-->
                        </a>
                      </div></div><div class="owl-item active" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-1.png" alt="a">
                        </a>
                      </div></div><div class="owl-item active" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-3.png" alt="a">
                        </a>
                      </div></div><div class="owl-item active" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-4.png" alt="a">
                        </a>
                      </div></div><div class="owl-item active" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-5.png" alt="a">
                        </a>
                      </div></div><div class="owl-item" style="width: 240px;"><div class="owl-nav disabled">
                        <div class="owl-stage-outer">
                          <a itemprop="url" class="mkd-cc-link" href="http://www.google.com" target="_self">
                            <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-2.png" alt="a">
                          </a>
                        </div>

                      </div></div><div class="owl-item" style="width: 240px;"><div class="owl-dots disabled"></div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://lister.mikado-themes.com/elements/testimonials/" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-1.png" alt="a">
                        </a>
                      </div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://lister.mikado-themes.com/elements/testimonials/" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-2.png" alt="a">
                        </a>
                      </div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://lister.mikado-themes.com/elements/testimonials/" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-3.png" alt="a">
                        </a>
                      </div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://lister.mikado-themes.com/elements/testimonials/" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-4.png" alt="a">
                        </a>
                      </div></div><div class="owl-item cloned" style="width: 240px;"><div class="owl-stage-outer">
                        <a itemprop="url" class="mkd-cc-link" href="http://lister.mikado-themes.com/elements/testimonials/" target="_self">
                          <img itemprop="image" class="mkd-cc-image" src="http://lister.mikado-themes.com/wp-content/uploads/2017/03/h1-client-5.png" alt="a">
                        </a>
                      </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev"><span class="mkd-prev-icon"><span class="mkd-icon-arrow icon-arrows-left"></span></span></div><div class="owl-next"><span class="mkd-next-icon"><span class="mkd-icon-arrow icon-arrows-right"></span></span></div></div><div class="owl-dots disabled"></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
